#about-us {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover-image {
  height: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.everyhuman-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.inventory-solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.problem-inventory {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200vh;
}

.promotional-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.nav-hover-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  cursor: pointer;
}
