#about-us {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.everyhuman-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promotional-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-hover-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  cursor: pointer;
}
